/Content/Geometry/Meshes/1M_Cube.uasset
/Content/Geometry/Meshes/1M_Cube_Chamfer.uasset
/Content/Geometry/Meshes/CubeMaterial.uasset
/Content/Geometry/Meshes/TemplateFloor.uasset
/Content/TwinStick/Audio/TwinStickFire.uasset
/Content/TwinStick/Meshes/BaseMaterial.uasset
/Content/TwinStick/Meshes/BlueMaterial.uasset
/Content/TwinStick/Meshes/OrangeMaterial.uasset
/Content/TwinStick/Meshes/TwinStickProjectile.uasset
/Content/TwinStick/Meshes/TwinStickUFO.uasset
Intermediate
Saved
Binaries
/*.sln
/*.sdf
/*.opensdf
/*.suo
/.vs/TrainJamAIE/v15/*.suo
/*.sln
/.vs
StarterContent
WaterPlane
